.MenuItemSelected {
  font-weight: bold;
}

.SelectRoot {
  color: var(--other-light-blue);
}

.MenuItemLevel1 {
  padding-left: 20pt;
}

.MenuItemLevel2 {
  padding-left: 40pt;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 12px 12px 0 12px;
}

.buttons > * {
  flex: 1;
}