html {
  /* background: #FBFCFD; */
}
body {
  /* background: #FBFCFD; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, head, body, #root{
  height: 100%;
}



/******************** scrollbar modifications ******************/
/* width */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-button {
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #BDBDBD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #BDBDBD;
}

/******************** scrollbar modifications ******************/
